{% extends 'pages/richtextpage.html' %}

{% load mezzanine_tags %}

{% block main %}
{{ block.super }}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for category in categories %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="{{ category.slug }}-header">
      <h4 class="panel-title">
	<a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
      </h4>
    </div>
    <div id="{{ category.slug }}">
      <div class="panel-body">
	<ul>
	  {% for widget in category.widget_set.published %}
	  <li>
	    <a href="{{ widget.get_absolute_url }}">
	      {% editable widget.title %}
	      {{ widget.title }}
	      {% endeditable %}
	    </a>
	  </li>
	  {% endfor %}
	</ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
